{% extends 'base.html' %}

{% block content %}

<div class="ContentWrapper">
  <div class="ContentBlock">Single</div>
</div>

<div class="ContentWrapper">
  <div class="ContentBlock">Content left</div>
  <div class="ContentBlock">Content right</div>
</div>

<div class="ContentWrapper">
  <div class="ContentBlock">Content left</div>
  <div class="ContentBlock">Content right</div>
  <div class="ContentBlock">Content Three</div>
</div>

<div class="ContentWrapper">
  <div class="ContentBlock">Title block with empty block besides it</div>
  <div class="ContentBlock"></div>
</div>

<h1>Hello World!</h1>
<h2>Welcome to FlaskApp!</h2>
{% endblock %}