{% extends 'base.html' %}

{% block content %}

<div class="ContentWrapper">
  <div class="ContentBlock">
    <h1>Welcome</h1>
  </div>
  <div class="ContentBlock">
    <p>This site is a collection of examples, tools and other useful programs that I have built over the years.</p>
    <br />
    <p>You can view the public collection by visiting the links below:</p>



    <div class="VerticalList">
      <ul>
        <li> <a href="http://weather.tbwebapp.com"> <img class="buttonIco" src="/static/images/ico_weatherdrying.png" />
            <strong>Should I put my washing out?</strong></a></li>
        <li> <a href="http://sodoku.tbwebapp.com"><img class="buttonIco"
              src="/static/images/ico_sudoku.png" /><strong>Soduku Solver</strong></a></li>
        <li> <a href="http://potter.tbwebapp.com"><img class="buttonIco"
              src="/static/images/ico_wizard.png" /><strong>Potter quiz</strong></a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}